# Alpaca Paper Trading Credentials
# Get these at https://app.alpaca.markets/paper/dashboard/overview
ALPACA_API_KEY=your_api_key_here
ALPACA_SECRET_KEY=your_secret_key_here

# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://trinadh_03: trinadh_03 @cluster0.../?appName=Cluster0



#mongodb+srv://trinadh_03: trinadh_03 @cluster0.anszpya.mongodb.net/?appName=Cluster0